﻿<html>
<head>
    <title>Exercise</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/main.css" />
</head>
<body>
    <h1>Candidate Exercise</h1>
    <div class="card">
        @RenderBody()
    </div>
</body>
</html>