﻿html, body
{
    width: 100%;
    height: 100%;
    font-family: "Arial";
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(247,247,247,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=1 );
    -moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=1 );
    -o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=1 );
}

.card
{
    border: 1px solid #fafafa;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.3);
    -ms-box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.3);
    -ms-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.text-center
{
    text-align: center;
}

.text-exact-center
{
    text-align: center;
    vertical-align: middle;
}

.text-white
{
    color: white;
}

.text-gray
{
    color: lightgray;
}
